.root {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../../../assets/images/background.png") no-repeat center;
    background-size: cover;
    z-index: -2;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.title {
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    color: #FFFFFF;
    opacity: 0;
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
    will-change: opacity;
}

.part-one {
    animation-delay: 1s;
}

.part-two {
    animation-delay: 4s;
}

@media all and (max-width: 768px) {
    .title {
        font-size: 1.5rem;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}