<!DOCTYPE html>
<html>
  <head>
    <title>FFX Index</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= stylesheet_pack_tag 'main' %>
    <%= javascript_pack_tag 'main' %>
  </body>
</html>
